Working with data in Python

In [10]:
import pandas as pd
location = 'owid-covid-data.csv'

In [13]:
df = pd.read_csv(location)

In [14]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.500,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.500,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.500,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.500,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.500,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177508,MNE,Europe,Montenegro,2023-03-27,289292.0,0.0,0.0,2808.0,0.0,0.0,...,47.9,NaN,3.861,76.88,0.829,627082.0,NaN,NaN,NaN,NaN
177509,MNE,Europe,Montenegro,2023-03-28,289292.0,0.0,0.0,2808.0,0.0,0.0,...,47.9,NaN,3.861,76.88,0.829,627082.0,NaN,NaN,NaN,NaN
177510,MNE,Europe,Montenegro,2023-03-29,289292.0,0.0,0.0,2808.0,0.0,0.0,...,47.9,NaN,3.861,76.88,0.829,627082.0,NaN,NaN,NaN,NaN
177511,MNE,Europe,Montenegro,2023-03-30,289292.0,0.0,0.0,2808.0,0.0,0.0,...,47.9,NaN,3.861,76.88,0.829,627082.0,NaN,NaN,NaN,NaN
177512,MNE,Europe,Montenegro,2023-03,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [16]:
df.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
177508,MNE,Europe,Montenegro,2023-03-27,289292.0,0.0,0.0,2808.0,0.0,0.0,...,47.9,NaN,3.861,76.88,0.829,627082.0,NaN,NaN,NaN,NaN
177509,MNE,Europe,Montenegro,2023-03-28,289292.0,0.0,0.0,2808.0,0.0,0.0,...,47.9,NaN,3.861,76.88,0.829,627082.0,NaN,NaN,NaN,NaN
177510,MNE,Europe,Montenegro,2023-03-29,289292.0,0.0,0.0,2808.0,0.0,0.0,...,47.9,NaN,3.861,76.88,0.829,627082.0,NaN,NaN,NaN,NaN
177511,MNE,Europe,Montenegro,2023-03-30,289292.0,0.0,0.0,2808.0,0.0,0.0,...,47.9,NaN,3.861,76.88,0.829,627082.0,NaN,NaN,NaN,NaN
177512,MNE,Europe,Montenegro,2023-03,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.624990e+05,1.743100e+05,1.735800e+05,1.525530e+05,174351.000000,173626.000000,162499.000000,174310.000000,173580.000000,152553.000000,...,102239.000000,70979.000000,125096.000000,164356.000000,138298.000000,1.775120e+05,6697.000000,6697.000000,6697.000000,6697.000000
mean,4.753794e+06,9.848939e+03,9.887988e+03,5.823515e+04,75.530172,75.833559,90659.841874,177.345317,178.051060,809.616193,...,33.433294,50.721470,3.092736,73.801829,0.723041,1.238038e+08,34370.732553,9.652028,13.210458,1473.043881
std,2.708338e+07,9.215591e+04,8.949980e+04,2.529559e+05,423.796369,414.736940,143227.538085,984.846463,613.973866,1029.091182,...,14.182763,33.369868,2.553120,7.597446,0.150292,5.272881e+08,94694.895111,13.149002,27.267295,1887.610416
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.397000,3.801000e+03,-37726.098000,-44.230000,-70.590000,-1984.281600
25%,7.626000e+03,0.000000e+00,2.286000e+00,1.220000e+02,0.000000,0.000000,2267.585000,0.000000,0.637000,50.749000,...,21.100000,16.603000,1.300000,69.590000,0.611000,5.237980e+05,25.900000,0.530000,-0.990000,22.789070
50%,6.181500e+04,2.300000e+01,4.657100e+01,9.410000e+02,0.000000,0.286000,20502.747000,4.142000,14.785000,370.049000,...,33.700000,52.232000,2.200000,75.090000,0.744000,5.302690e+06,2634.799800,7.200000,7.070000,837.736450
75%,5.153880e+05,5.510000e+02,6.435710e+02,9.080000e+03,6.000000,7.000000,106613.370000,84.026250,123.255000,1249.792000,...,44.600000,83.841000,4.340000,79.930000,0.845000,2.267376e+07,24232.396000,16.380000,19.650000,2480.212600
max,4.196805e+08,7.214500e+06,6.109993e+06,2.860865e+06,13398.000000,8470.857000,733146.058000,193107.077000,31207.174000,5645.865000,...,76.100000,98.999000,13.800000,86.750000,0.955000,4.721383e+09,836347.750000,70.600000,377.170000,10329.523000

In [19]:
df['total_cases']

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
            ...
177508    289292.0
177509    289292.0
177510    289292.0
177511    289292.0
177512         NaN
Name: total_cases, Length: 177513, dtype: float64

In [20]:
df['total_cases_per_million']

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
             ...
177508    461330.416
177509    461330.416
177510    461330.416
177511    461330.416
177512           NaN
Name: total_cases_per_million, Length: 177513, dtype: float64

In [23]:
df['total_cases_per_million'] > 350000

0         False
1         False
2         False
3         False
4         False
          ...
177508     True
177509     True
177510     True
177511     True
177512    False
Name: total_cases_per_million, Length: 177513, dtype: bool

In [26]:
Gr_total_cases_pm = df[df['total_cases_per_million']>350000]
print(Gr_total_cases_pm)

       iso_code continent    location        date  total_cases  new_cases  \
6754        AND    Europe     Andorra  2022-01-11      27983.0     1575.0
6755        AND    Europe     Andorra  2022-01-12      28542.0      559.0
6756        AND    Europe     Andorra  2022-01-13      28899.0      357.0
6757        AND    Europe     Andorra  2022-01-14      29888.0      989.0
6758        AND    Europe     Andorra  2022-01-15      29888.0        0.0
...         ...       ...         ...         ...          ...        ...
177507      MNE    Europe  Montenegro  2023-03-26     289292.0        0.0
177508      MNE    Europe  Montenegro  2023-03-27     289292.0        0.0
177509      MNE    Europe  Montenegro  2023-03-28     289292.0        0.0
177510      MNE    Europe  Montenegro  2023-03-29     289292.0        0.0
177511      MNE    Europe  Montenegro  2023-03-30     289292.0        0.0

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
6754               497.286         141.0         0.0                0.143
6755               534.286         141.0         0.0                0.000
6756               515.714         141.0         0.0                0.000
6757               497.143         142.0         1.0                0.143
6758               497.143         142.0         0.0                0.143
...                    ...           ...         ...                  ...
177507               0.000        2808.0         0.0                0.000
177508               0.000        2808.0         0.0                0.000
177509               0.000        2808.0         0.0                0.000
177510               0.000        2808.0         0.0                0.000
177511               0.000        2808.0         0.0                0.000

        ...  male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
6754    ...          37.8                     NaN                         NaN
6755    ...          37.8                     NaN                         NaN
6756    ...          37.8                     NaN                         NaN
6757    ...          37.8                     NaN                         NaN
6758    ...          37.8                     NaN                         NaN
...     ...           ...                     ...                         ...
177507  ...          47.9                     NaN                       3.861
177508  ...          47.9                     NaN                       3.861
177509  ...          47.9                     NaN                       3.861
177510  ...          47.9                     NaN                       3.861
177511  ...          47.9                     NaN                       3.861

        life_expectancy  human_development_index  population  \
6754              83.73                    0.868     79843.0
6755              83.73                    0.868     79843.0
6756              83.73                    0.868     79843.0
6757              83.73                    0.868     79843.0
6758              83.73                    0.868     79843.0
...                 ...                      ...         ...
177507            76.88                    0.829    627082.0
177508            76.88                    0.829    627082.0
177509            76.88                    0.829    627082.0
177510            76.88                    0.829    627082.0
177511            76.88                    0.829    627082.0

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
6754                                     NaN                          NaN
6755                                     NaN                          NaN
6756                                     NaN                          NaN
6757                                     NaN                          NaN
6758                                     NaN                          NaN
...                                      ...                          ...
177507                                   NaN                          NaN
177508                                   NaN                          NaN
177509                                   NaN                          NaN
177510                                   NaN                          NaN
177511                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
6754                 NaN                                      NaN
6755                 NaN                                      NaN
6756                 NaN                                      NaN
6757                 NaN                                      NaN
6758                 NaN                                      NaN
...                  ...                                      ...
177507               NaN                                      NaN
177508               NaN                                      NaN
177509               NaN                                      NaN
177510               NaN                                      NaN
177511               NaN                                      NaN

[14296 rows x 67 columns]

In [28]:
print(df.head())
print("\nnum. total death cases per million: ", df.iloc[2,2])

print(df.tail())
print("\nnum. total death cases per million: ", df.iloc[2,2])

  iso_code continent     location        date  total_cases  new_cases  \
0      AFG      Asia  Afghanistan  2020-01-03          NaN        0.0
1      AFG      Asia  Afghanistan  2020-01-04          NaN        0.0
2      AFG      Asia  Afghanistan  2020-01-05          NaN        0.0
3      AFG      Asia  Afghanistan  2020-01-06          NaN        0.0
4      AFG      Asia  Afghanistan  2020-01-07          NaN        0.0

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                 NaN           NaN         0.0                  NaN  ...
1                 NaN           NaN         0.0                  NaN  ...
2                 NaN           NaN         0.0                  NaN  ...
3                 NaN           NaN         0.0                  NaN  ...
4                 NaN           NaN         0.0                  NaN  ...

   male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0           NaN                  37.746                         0.5
1           NaN                  37.746                         0.5
2           NaN                  37.746                         0.5
3           NaN                  37.746                         0.5
4           NaN                  37.746                         0.5

   life_expectancy  human_development_index  population  \
0            64.83                    0.511  41128772.0
1            64.83                    0.511  41128772.0
2            64.83                    0.511  41128772.0
3            64.83                    0.511  41128772.0
4            64.83                    0.511  41128772.0

   excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                   NaN                          NaN
1                                   NaN                          NaN
2                                   NaN                          NaN
3                                   NaN                          NaN
4                                   NaN                          NaN

   excess_mortality  excess_mortality_cumulative_per_million
0               NaN                                      NaN
1               NaN                                      NaN
2               NaN                                      NaN
3               NaN                                      NaN
4               NaN                                      NaN

[5 rows x 67 columns]

num. total death cases per million:  Afghanistan
       iso_code continent    location        date  total_cases  new_cases  \
177508      MNE    Europe  Montenegro  2023-03-27     289292.0        0.0
177509      MNE    Europe  Montenegro  2023-03-28     289292.0        0.0
177510      MNE    Europe  Montenegro  2023-03-29     289292.0        0.0
177511      MNE    Europe  Montenegro  2023-03-30     289292.0        0.0
177512      MNE    Europe  Montenegro     2023-03          NaN        NaN

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
177508                 0.0        2808.0         0.0                  0.0
177509                 0.0        2808.0         0.0                  0.0
177510                 0.0        2808.0         0.0                  0.0
177511                 0.0        2808.0         0.0                  0.0
177512                 NaN           NaN         NaN                  NaN

        ...  male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
177508  ...          47.9                     NaN                       3.861
177509  ...          47.9                     NaN                       3.861
177510  ...          47.9                     NaN                       3.861
177511  ...          47.9                     NaN                       3.861
177512  ...           NaN                     NaN                         NaN

        life_expectancy  human_development_index  population  \
177508            76.88                    0.829    627082.0
177509            76.88                    0.829    627082.0
177510            76.88                    0.829    627082.0
177511            76.88                    0.829    627082.0
177512              NaN                      NaN         NaN

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
177508                                   NaN                          NaN
177509                                   NaN                          NaN
177510                                   NaN                          NaN
177511                                   NaN                          NaN
177512                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
177508               NaN                                      NaN
177509               NaN                                      NaN
177510               NaN                                      NaN
177511               NaN                                      NaN
177512               NaN                                      NaN

[5 rows x 67 columns]

num. total death cases per million:  Afghanistan

In [29]:
print(df.iloc[3:5,:])

  iso_code continent     location        date  total_cases  new_cases  \
3      AFG      Asia  Afghanistan  2020-01-06          NaN        0.0
4      AFG      Asia  Afghanistan  2020-01-07          NaN        0.0

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
3                 NaN           NaN         0.0                  NaN  ...
4                 NaN           NaN         0.0                  NaN  ...

   male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
3           NaN                  37.746                         0.5
4           NaN                  37.746                         0.5

   life_expectancy  human_development_index  population  \
3            64.83                    0.511  41128772.0
4            64.83                    0.511  41128772.0

   excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
3                                   NaN                          NaN
4                                   NaN                          NaN

   excess_mortality  excess_mortality_cumulative_per_million
3               NaN                                      NaN
4               NaN                                      NaN

[2 rows x 67 columns]

In [30]:
print(df.iloc[:,4:6])

        total_cases  new_cases
0               NaN        0.0
1               NaN        0.0
2               NaN        0.0
3               NaN        0.0
4               NaN        0.0
...             ...        ...
177508     289292.0        0.0
177509     289292.0        0.0
177510     289292.0        0.0
177511     289292.0        0.0
177512          NaN        NaN

[177513 rows x 2 columns]